/*CLASES REUTILIZABLES*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: "Raleway", sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373b47;
  text-decoration: none;
}

a:hover {
  color: #e95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

header {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;

  /* outline: 1px solid red; */
}

nav {
  padding: 10px 0;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}
.fancy-nav {
  overflow: hidden;
}

nav.container > div.nav-logo {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.fancy-nav li {
  list-style: none;
  width: 100px;
  float: left;
  text-align: center;
}
.fancy-nav li a {
  font-weight: 700;
}

div.nav-logo a img {
  width: 60px;
  background: lightskyblue;
}

.wrapper {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
}

.wrapper div {
  background: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #464646;

  height: 526px;
  padding: 40px 0;

  text-align: center;
  color: #fff;
}

.wrapper h1 {
  font-size: 45px;
  font-weight: 700;
}

.wrapper p {
  margin-bottom: 100px;
}

.wrapper a {
  background: #2ecc71;
  color: inherit;
  outline: 1px solid #2ecc71;
  padding: 15px;
}

.wrapper a:hover {
  background: #1e9e53;
  color: #fff;
  cursor: pointer;
}

.fancy-box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 0px;
  /* outline: 1px solid #2ecc71; */
}

#services {
  background: #f17c72;
  color: #fff;
}

/* .fancy-box .container {
  outline: 1px solid #2ecc71;
} */
.fancy-box h2 {
  font-size: 35px;
}

.fancy-box h2,
h4 {
  text-align: center;
}

.fancy-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 35px;
}

.fancy-grid div {
  text-align: center;
  width: 33.3%;
  flex-wrap: wrap;
  margin: 25px 0px;
}

.fancy-grid div img {
  width: 200px;
  padding: 20px 0;
}

.fancy-grid div h5,
h6 {
  margin: 0;
}

.fancy-grid div h6 {
  font-weight: normal;
  font-size: 12px;
}

.fancy-img-work {
  display: flex;
  justify-content: center;
}

.fancy-img-work img {
  width: 90%;
  padding: 30px;
  /* outline: 1px solid darkorange; */
}

.fancy-work-grid div img {
  width: 80%;
}

.fancy-work-grid div h5 {
  font-size: 16px;
  color: #373b47;
}

footer {
  /* outline: 1px solid purple; */
  background: #373b47;
  color: #fff;
}

footer p {
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 991px) {
  .fancy-grid div {
    text-align: center;
    width: 50%;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .fancy-grid div {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
